{% extends "../base/_base.html" %}

{% block title %}- {{ object.name }}{% endblock %}

{% block body %}
    <div class="content-block">
        <h4 class="break-all">{{ object.name }}</h4>
        <p class="text-muted">{{ object.created_at }}</p>
        {% if object.thumbnail %}
            <img src="{{ object.thumbnail.url }}" alt="Thumbnail" class="mb-2" style="max-width: 100%">
        {% else %}
            <hr>
        {% endif %}
        <div class="break-all mt-1">
            {{ object.contents|safe }}
        </div>
        <hr>
        {% if object.tags %}
            <div class="pagination pagination-sm">
            {% for tag in object.tags.all %}
                <li class="page-item">
                    <a href="{{ base_path }}?tag={{ tag }}" class="page-link">
                        {{ tag }}
                    </a>
                </li>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
