<h4 class="content-block-name">Лаборатория нелинейной динамики деформирования (№52)</h4>
<div>
    <h5>Состав лаборатории</h5>
    <p>Количество сотрудников – 6</p>
    <ul>
        <li>научных сотрудников –  5</li>
        <li>инженеров – 1</li>
        <li>кандидатов наук – 5</li>
    </ul>
    <p>Руководитель: кандидат физ.-мат. наук Дудко Ольга Владимировна</p>
    <p>
        Историю лаборатории нелинейной динамики деформирования следует начать с момента образования лаборатории
        механики деформируемого твердого тела, которая была создана в 1987 году в Тихоокеанском океанологическом
        институте ДВО АН СССР, а затем в 1988 году переведена в Институт автоматики и процессов управления ДВО АН
        СССР. Инициатором создания нового научного подразделения выступил доктор физ.-мат. наук, профессор Геннадий
        Иванович Быковцев. В первый состав лаборатории вошли ученики профессора Г.И. Быковцева, приехавшие за ним
        вслед во Владивосток: А.А. Буренин, А.И. Хромов, М.Н. Осипов, Ю.В. Фофанов, В.А. Рычков, А.П. Наумкин,
        А.И. Царев.
    </p>
    <p>
        Первый заведующий лабораторией механики деформируемого твердого тела ИАПУ ДВО РАН – доктор физ.-мат. наук,
        профессор Александр Игоревич Хромов. В период с 1993 по 2011 гг. лабораторией механики деформируемого твердого
        тела руководил член-корреспондент РАН, доктор физ.-мат. наук, профессор Анатолий Александрович Буренин.
    </p>
    <p>
        В апреле 2011 года в результате реорганизации лаборатории механики деформируемого твердого тела ИАПУ ДВО РАН
        в отдел коллектив был разделен на две самостоятельные научно-исследовательские группы: лабораторию механики
        необратимого деформирования (под руководством доктор физ.-мат. наук Л.В. Ковтанюк) и лабораторию нелинейной
        динамики деформирования (под руководством чл.-корр. РАН А.А. Буренина до декабря 2014 года,
        кандидата физ.-мат. наук О.В. Дудко – с января 2015 года).
    </p>
    <h5>Основные направления научных исследований</h5>
    <ul>
        <li>
            Развитие математического аппарата, моделей и методов нелинейной динамики ударного де-формирования
            твердого тела.
        </li>
        <li>
            Исследование особенностей распространения нелинейных волн деформаций в природных и конструкционных
            материалах со сложными механическими свойствами.
        </li>
    </ul>
    <h5>Основные результаты</h5>
    <ul>
        <li>
            Разработана новая модификация лучевого метода для задач нестационарного ударного деформирования
            твердого тела, позволяющая строить решения в виде лучевых разложений как для одиночной ударной волны, так
            и для нескольких ударных волн различного типа и процессов их взаимодействия.
        </li>
        <li>
            Получены новые эволюционные уравнения для одномерных ударных волн ненулевой кривизны в однородных средах,
            плоских одномерных ударных волн в неоднородных средах. Показано, что в неоднородной среде эволюционное
            уравнение может принимать различные формы на разных расстояниях от нагружаемой границы в зависимости от
            степени неоднородности материала и интенсивности ударного воздействия.
        </li>
        <li>
            Предложен алгоритм решения нестационарных одномерных краевых задач нелинейной динамики упругих
            разномодульных и пористых материалов, позволяющий управлять режимом граничного воздействия,
            которое приводит к возникновению ударной волны с постоянной скоростью распространения.
        </li>
        <li>
            Получены новые решения нестационарных и квазистационарных краевых задач ударного деформирования твердых
            сред с нелинейными, неоднородными и разномодульными механическими свойствами, включая эффекты
            возникновения сильных и слабых поверхностей разрывов, их взаимодействия друг с другом и преградами.
        </li>
    </ul>
</div>