{% extends "./base/_base.html" %}

{% block body %}
    <p>Мы - ИАПУ.</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aut consequuntur culpa cumque deserunt
        eaque earum harum inventore, minus nihil officiis, repellat rerum sapiente sed veritatis? Ab corporis, cum
        deleniti eaque facere ipsum iusto minima placeat qui quisquam! Ab accusamus ad adipisci alias, animi aut beatae
        consequatur cumque dolore dolorum ea eaque eligendi error ex illum in ipsam laboriosam laborum minus molestiae
        nesciunt nihil nobis odit officiis omnis optio praesentium quas quia quis, unde ut vero voluptatem voluptatum.
        Accusantium blanditiis dicta distinctio, explicabo illo nam nisi odit quae repellendus reprehenderit
        repudiandae, sequi similique sint tenetur, ut! At distinctio iure soluta?
    </p>
{% endblock %}