{% extends "./base/_base.html" %}

{% block body %}
    <div class="row">
        <div class="col col-lg-8 col-md-7 col-12 content-block me-3">
            {% include './static/about.html' %}
        </div>
        <div class="col content-block">
            <h4 class="content-block-name">Последние новости</h4>

            {% for news_item in object_list %}
            <div class="d-flex my-2 news">
                {% if news_item.thumbnail %}
                    <a href="/news/{{ news_item.id }}">
                        <img src="{{ news_item.thumbnail.url }}" alt="Thumbnail" class="thumbnail-sm">
                    </a>
                {% else %}
                    <div class="no-image"></div>
                {% endif %}
                <div class="head d-flex flex-column">
                    <p class="created-at text-muted small">{{ news_item.created_at }}</p>
                    <a href="/news/{{ news_item.id }}" class="name link text-break">
                        {{ news_item.name }}
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}