/* Base */
html {
    height: 100%;
}

body {
    position: relative;
    background-color: #f5f5f5;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.content {
    /* height of footer */
    /*padding-bottom: 6rem;*/
    padding-bottom: 1.5rem;
}

.link {
    color: #3d56cd;
    text-decoration: none;
}

.link:hover {
    color: #3d56cd !important;
    text-decoration: underline;
}

.navbar {
    background-color: white !important;
}

.content-block-name {
    margin-bottom: 1.5rem;
}

.content-block {
    background-color: white;
    border-radius: 4px;
    padding: 1.5rem 2rem;
    height: 100%;
}

.break-all {
    word-break: break-all;
}

.photo-detail {
    max-width: 33%;
}

/* News */
.news {
    border-top: 1px solid lightgrey;
}

.news .thumbnail {
    max-width: 14rem;
    padding: 1rem 1rem 1rem 0;
}

.news .thumbnail-sm {
    max-width: 7rem;
    padding: 1rem 1rem 1rem 0;
}

.news > .head {
    padding: 1rem 1rem 1rem 0;
}
